apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-nfs-{{ name }}
  labels:
    name: pv-nfs-{{ name }}
    type: nfs
spec:
  accessModes:
    - ReadWriteMany
    - ReadWriteOnce
    - ReadOnlyMany
  capacity:
    storage: {{ size }}
  persistentVolumeReclaimPolicy: Retain
  nfs:
    path: {{ path }}
    server: {{ server }}