---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-{{ name }}
  labels:
    name: pv-{{ name }}
spec:
  accessModes:
    - ReadWriteMany
    - ReadWriteOnce
    {% if type != "dir-local" %}
    - ReadOnlyMany
    {% endif %}
  capacity:
    storage: {{ size }}
  persistentVolumeReclaimPolicy: Retain
  storageClassName: sc-{{ serviceName }}
  {% if type == "dir-nfs" %}
  nfs:
    path: {{ path }}
    server: {{ server }}
  {% elif type == "dir-local" %}
  hostPath:
    path: {{ localPath }}
  {% endif %}
{% if controller != "stateful" %}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pvc-{{ name }}
  namespace: {{ namespace }}
  labels:
    name: pvc-{{ name }}
spec:
  accessModes:
  - ReadWriteMany
  - ReadWriteOnce
  {% if type != "dir-local" %}
  - ReadOnlyMany
  {% endif %}
  storageClassName: sc-{{ serviceName }}
  resources:
    requests:
      storage: {{ size }}
  selector:
    matchLabels:
      name: pv-{{ name }}
{% endif %}