apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pvc-host-path-{{ name }}
  namespace: {{ namespace }}
  labels:
    name: pvc-host-path-{{ name }}
    type: hostPath
spec:
  accessModes:
  - ReadWriteMany
  - ReadWriteOnce
  storageClassName: sc-{{ serviceName }}
  resources:
    requests:
      storage: {{ size }}
  selector:
    matchLabels:
      name: pv-host-path-{{ name }}