apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pvc-host-path-{{ name }}
  namespace: {{ namespace }}
  labels: # 这些labels可以不定义
    name: pvc-host-path-{{ name }}
    type: hostPath
spec:
  accessModes:
  - ReadWriteMany
  - ReadWriteOnce
  resources:
    requests:
      storage: {{ size }}