apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-host-path-{{ name }}
  labels:
    name: pv-host-path-{{ name }}
    type: hostPath
spec:
  accessModes:
    - ReadWriteMany
    - ReadWriteOnce
  capacity:
    storage: {{ size }}
  persistentVolumeReclaimPolicy: Retain
  hostPath:
    path: {{ localPath }}